* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* util */
.orange{
    color: #F26300;
}



/* util */
.hover{
    border-bottom:5px solid #ffffff ;
}
.hover:hover{
 border-bottom:5px solid #F26300 ;
}
nav {
    height: 48px;
}
#offcanvas-content{
    width: 100%;
}

main {
    margin-top: 48px;
}

.icons {
    flex-direction: row;

}

li>.nav-link {
    font-size: 13px;
    color: #303030;
    font-weight: 500;
}
.sign-in{
    display: flex;
    align-items: center;
}
.offcanvas-item-big,.offcanvas-item-small{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.offcanvas-item-small > p{
    font-size: 12px;
}

.banner {
    height: 355px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-1 {
    background-image: url("./images/banner1-small.webp");
   
}
.banner-2{
    background-image: url("./images/banner2-small.webp");
}
.product{
    height: 355px;
    position: relative;
}
.product-text{
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
div>img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.scroll-container{
    width:90%;
    /* background-color: red; */
}
.scroll-img{
    height: 195px;
    /* background-color: #F26300;
    border: 3px solid black; */
}
.scroll-img>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.close{
    z-index: 10;
}
.logo >div{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.protect-container img{
    object-fit: cover;
}
footer{
    background-color: black;
    
    width: 100%;
}
.small-screen{
    height: 360px;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
.email{
    align-self: center;
    width: 90%;
    padding: 0 auto;

}
.email >input{
    width:80%;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    text-indent: 10px;
}
.small-screen > .copy{
    font-size: 10px;
    align-self: center;
}
hr{
    width: 95%;
    background-color: rgb(255, 255, 255);
    align-self: center;
    opacity: 1;
    height: 2px;
}







@media screen and (min-width:576px){
    .banner,.product{
        height: 640px;
    }
    .scroll-img{
        height: 350px;
    }
}

@media screen and (min-width:768px) {
    .banner-1 {
        background-image: url("./images/banner1-big.webp");
    }
    .banner-2{
        background-image: url("./images/banner2-big.webp");
    }
    .banner {
        height: 338px;
    }
    .product{
        height: 240px;
        border: 10px solid white;
    }
    .scroll-img{
        height: 228px;
    }
    .screen-big{
        height: 993px;
        flex-direction: column;
    }
    .footer-text-area{
        grid-template-columns: repeat(4,auto);
    }
    .qr-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .qr{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
    }
    .qr>img{
        object-fit: contain;
    }
}


@media screen and (min-width:992px) {
    li>.nav-link {
        font-size: 16px;
    }

    .banner {
        height: 435px;
    }
    .product{
        height: 310px;
    }
    .scroll-img{
        height: 294px;
    }
}

@media screen and (min-width:1200px) {

    .banner {
        height: 450px;
    }
    .product{
        height: 370px;
    }
    .scroll-img{
        height: 345px;
    }
    .screen-big{
        height: 660px;
        flex-direction: column;
    }
    .footer-text-area{
        grid-template-columns: repeat(4,1fr) 2fr;
    }
    input{
        align-self: flex-start;
    }
}

@media screen and (min-width:1400px) {
    .banner {
        height: 600px;
    }
    .product{
        height: 476px;
    }
    .scroll-img{
        height: 403px;
    }
}